@import url("font-awesome.min.css");

@font-face {
    font-family: 'PT-Sans';
    font-display: swap;
    src: url('fonts/PT-Sans-Regular.eot');
    src: local('☺'), 
        url('fonts/PT-Sans-Regular.woff2') format('woff2'),
        url('fonts/PT-Sans-Regular.woff') format('woff'),
        url('fonts/PT-Sans-Regular.ttf') format('truetype'), 
        url('fonts/PT-Sans-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT-Sans';
    font-display: swap;
    src: url('fonts/PT-Sans-Bold.eot');
    src: local('☺'), 
        url('fonts/PT-Sans-Bold.woff2') format('woff2'),
        url('fonts/PT-Sans-Bold.woff') format('woff'),
        url('fonts/PT-Sans-Bold.ttf') format('truetype'), 
        url('fonts/PT-Sans-Bold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
::-webkit-input-placeholder {opacity:1;}
::-moz-placeholder          {opacity:1;}/* Firefox 19+ */
:-moz-placeholder           {opacity:1;}/* Firefox 18- */
:-ms-input-placeholder      {opacity:1;}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
// =============================== reset and common styles =========================================
html, body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    position: relative;    
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    color: #2c2c2c;
    max-width: 100%;
    // height: auto;
    overflow-x: hidden;
    background: #ffffff;    
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    color: #008851;
    text-decoration: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
p, a, ul li, ol li, div{
    -webkit-text-size-adjust: 100%;
}
img{
    display: block;
    max-width: 100%;
    border: none;
    outline: none;    
}
h1{
    display: inline-block;
    position: relative;
    width: 100%;
    font-family: inherit;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 600;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 5px;
    padding: 0;
    z-index: 10;
}
h2, h3, p.title{
    display: inline-block;
    position: relative;
    width: 100%;
    font-family: inherit;
    font-size: 44px;
    line-height: 44px;
    font-weight: 600; 
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    margin: 65px 0 5px;
    padding: 0;  
    z-index: 10;
}
p.subtitle{
    display: inline-block;
    position: relative;
    width: 100%;    
    font-family: inherit;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600; 
    color: inherit;
    text-align: center;
    margin: 0 0 60px;
    padding: 0;
    z-index: 10;
}
// =================================  grid and media =====================================
.container {
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}
@media(max-width: 1199.98px) and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media(max-width: 991.98px) and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media(max-width: 767.98px) and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media(max-width: 767.98px) {
    .mobile{
         display: block;
    }
}
@media(max-width: 575.98px) {
    .container {
        max-width: none;
        width: auto
    }
}

// ============================ custom elements styles ==============================
.phone {
     pointer-events: all;
}
.nowrap {
    white-space: nowrap;
}
.mobile {
    display: none;
}
.button { 
    display: inline-block;
    font-family: 'PT-Sans', Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
    color: #ffffff;
    padding: 15px;
    background: #1A6647;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.button:hover{
    background: #008851;       
}
.columns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.columns-with-gap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-right: -15px;
    margin-left: -15px;
    padding: 30px 0 60px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.columns-with-gap .item-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
.columns-with-gap .item  {
    padding: 30px;
    height: 100%;
}
.columns-with-gap .item .item-head {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'DINPro-Condensed', Arial, sans-serif;
}

// =========================== main-screen ============================================
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #121222;
        opacity: 0.9;
        z-index: 2;
    }
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo {
    flex: 0 0 60px;
    position: relative;
    z-index: 3;
    img {
        max-width: 100%;
        display: block;
        overflow: hidden;
    }
}
.header__burger {
    display: none;
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
    li {
        list-style: none;
        margin-left: 20px;
    }
}
.header__link {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
}
.content {
    padding-top: 100px;
}
.content__text {
    font-size: 16px;
    line-height: 1.5;
    p {
        margin-bottom: 20px;
    }
}
.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.header__burger.active span {
    transform: scale(0);
}

@media(max-width: 860px) {
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 50px;
    }
    .header__logo {
        flex: 0 0 40px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            background-color: #fff;
            transition: all 0.3s ease 0s;
        }
        &:before, &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #18b5a4;
        padding: 70px 10px 20px 10px;
        transition: all 0.5s ease 0s;
        overflow: auto;
        &.active {
            top: 0;
        }
    }
    .header__list {
        display: block;
        li {
            margin: 0 0 30px 0;
        }
    }
    .header__link {
        font-size: 24px;
    }
    .content {
        padding-top: 65px;
    }
} 
.block-inner-left {
    display: block;
    text-align: left;
}
.main-screen {
    min-height: 85vh;
    position: relative;
    background-image: url(../images/header/main-screen-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.6;
    }
    h1 {
        color: #ffffff;
        text-align: left;
    }
}